// scss variables
$border-radius: 6px;
$mobile: 752px;
$laptop: 1280px;

// css variables
:root {
  // colours
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --yellow: #fbd870;
  --yellow-tint: rgba(251, 216, 112, 0.15);

  // other
  --border-radius: 6px;
}
